* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:root {
  --primary-color: #0a9c6f;
  --grey-900: #0d1919;
  --grey-800: #121b22;
  --grey-600: #1f2c34;
  --grey-700: #9f9fa1;
  --grey-500: #dfdfe1;
  --grey-300: #fefff6;
  --grey-200: #f1f2f6;
  --green-400: #138b80;
  --green-300: #2dca7a;
  --green-100: #dcf8c6;
  --primary-font: "Roboto", sans-serif;
  --green-400: #00a884;
  --green-unread: #25d366;
  --gree-2323: #008e5a;
  --green-3232: #c5f0e0;
  --green-shadow: rgba(11, 237, 102, 0.75);
  --green-shadowtwo: rgba(37, 172, 10, 0.75);
  --blue-shadow: rgba(96, 155, 195, 0.75);
  --green-number: rgb(21, 101, 56);
}

:-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/*iconos de mi humilde pagina */
.icons_header {
  display: flex;
  gap: 15px;
  margin-left: auto;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.icon-wrapper:hover {
  transform: translateY(-5px);
}

.icon-wrapper svg {
  pointer-events: none;
}

body {
  background: linear-gradient(180deg, #c5f0e0 0%, #008e5a 100%);
  padding: 40px;
}

.app {
  max-width: 1100px;
  margin: auto;
  background-color: white;
  display: grid;
  grid-template-columns: 320px 1fr;
  height: 90vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: -21px 23px 5px 0px rgba(11, 237, 102, 0.75);
  -webkit-box-shadow: -21px 23px 5px 0px rgba(37, 172, 10, 0.75);
  -moz-box-shadow: -21px 23px 5px 0px rgba(96, 155, 195, 0.75);
}

/* aside styles */

aside {
  background-color: var(--grey-900);
  color: white;
}

aside header {
  background-color: var(--grey-800);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 50px;
  border-radius: 50%;
}

.profile h2 {
  font-size: 22px;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.actions button {
  padding: 7px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--grey-800);
  color: var(--grey-300);
  transition: transform 0.2s;
}

.actions button svg {
  width: 20px;
}

.actions button:hover {
  background-color: var(--grey-700);
  transform: translateY(-4px);
}

/* search input */
.search {
  background-color: var(--grey-800);
  padding: 10px;
}

.search form input {
  background-color: var(--grey-700);
  width: 100%;
  display: block;
  border: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  color: white;
}

.search input:focus {
  outline: 1px solid var(--grey-300);
}

.chats ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-chat {
  background-color: var(--grey-900);
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

.user-chat img {
  border-radius: 50%;
  width: 50px;
}

.user-chat:hover {
  background-color: var(--grey-700);
  cursor: pointer;
  border-left: 3px solid var(--green-400);
}

/* messages panel */

.chat-header {
  background-color: var(--grey-300);
  border-bottom: 1px solid var(--grey-500);
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 12px;
}

.chat-header img {
  width: 50px;
  border-radius: 50%;
}

.chat-header p {
  color: var(--grey-700);
}

/* messages styles */
.contacts svg {
}

.unread {
  background-color: #25d366;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin-left: auto;
  flex-shrink: 0;
}

.chat-panel {
  background-color: #e5ddd5;
  background-image: url("../assets/fondo-wpp.png");
  background-repeat: repeat;
  background-size: 450px;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.message img {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  display: block;
  margin: 5px 0;
}

.messages {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.message {
  background-color: var(--grey-300);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.238);
  padding: 10px;
  width: 60%;
}

.message .time {
  color: var(--grey-700);
  font-size: 14px;
  margin-top: 10px;
  text-align: end;
}

.me {
  align-self: end;
  background-color: var(--green-100);
}

/* footer styles */

footer {
  display: flex;
  background-color: var(--grey-500);
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

footer button {
  width: 25px;
  height: 25px;
  padding: 3px;
}

footer svg {
  width: 100%;
  height: 100%;
}

footer .attach {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--grey-700);
  transition: color 0.2s;
}

footer .attach:hover {
  color: var(--grey-800);
}

footer form {
  display: flex;
  align-items: center;
  flex: 1;
}

footer textarea {
  padding: 8px;
  resize: none;
  border-radius: 15px;
  width: 100%;
  border: none;
}

footer textarea:focus {
  outline: 1px solid var(--grey-700);
  border: none;
}

footer .send {
  background-color: #2dca7a;
  border: none;
  color: var(--grey-300);
  width: 45px;
  height: 30px;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.1s;
}

footer .send:hover {
  background-color: #138b80;
  transform: scale(0.98);
}

/* responsive desing */
@media (max-width: 880px) {
  .app {
    grid-template-columns: 1fr;
  }

  aside {
    display: none;
  }

  .message img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
